---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  font-family: "Roboto", sans-serif;
}

header {
    font-family: "Roboto", sans-serif;
  background: #00A3E0;
  background-image: url(../assets/header.png);
}

header a.button {
  background: #FF6F20;
}

aside a.button {
  background: #FF6F20;
}

#main-content h2:before {
  color: lightgreen;
}

#main-content h1:before {
  color: #FF6F20;
}

#main-content h3 {
  color: lightgreen;
}

#main-content h4 {
  color: lightgreen;
}

#main-content h6 {
  color: lightgreen;
}
