---
---

@import "minima/skins/dark";
@import "minima";
@import url("https://fonts.googleapis.com/css?family=Roboto");

.page-content {
  max-width: 780px;
  margin: auto;
  padding: 2.5rem 1.2rem;
  font-size: 1.05rem;
  line-height: 1.65;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

th,
td {
  padding: 0.6rem;
  border-bottom: 1px solid var(--border-color);
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Roboto", sans-serif;
  background: #00a3e0;
  background-image: url("{{ '/assets/header.png' | relative_url }}");
}

header a.button {
  background: #ff6f20;
}

aside a.button {
  background: #ff6f20;
}

#main-content h2::before {
  color: lightgreen;
}

#main-content h1::before {
  color: #ff6f20;
}

#main-content h3 {
  color: lightgreen;
}

#main-content h4 {
  color: lightgreen;
}

#main-content h6 {
  color: lightgreen;
}
